---
interface Props {
  imageSource: string;
  href: string;
  title: string;
  publishDate: string;
}

const { imageSource, href, title, publishDate } = Astro.props;
---

<div class="lg:flex">
  <img
    class="object-cover w-full h-56 rounded-lg lg:w-64"
    src={imageSource}
    alt=""
  />

  <div class="flex flex-col justify-between py-6 lg:mx-6">
    <a href={href} class="text-xl font-semibold hover:underline text-white">
      {title}
    </a>

    <span class="text-sm text-gray-300">On: {publishDate}</span>
  </div>
</div>
